<html>
  <head>
    <title>{{subject}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>{{content}}</p>
    <a href="http://localhost:8080/session/login">Recuperar tu contraseña</a>
  </body>
</html>