<form
  id="formShoppingWay"
  action="/comprar/prueba"
  name="shippingWayForm"
  method="post"
>
  <section id="purchaseSummary">
    <div class="purchaseSummary-container">
      <div class="z5-right-purchaseSummary">
        <div class="z5-purchaseSummary-info-shopping">
          <h2>Resumen de compra</h2>
          <hr />
          <div class="z5-info-quiantity">
            <span>Productos (2)</span>
            <span>$ 6.94900</span>
          </div>
          <br />
          <hr />
          <div class="z5-info-totalPrice">
            <span>Pagas</span>
            <span>$ 6.94900</span>
          </div>
        </div>
      </div>
      <div class="z4-left-bottom-purchaseSummary">
        <button class="btn-blue-main" type="submit">Continuar</button>
      </div>
      <div class="z3-left-mid2-purchaseSummary">
        <strong>Recibir compra</strong>
        <div class="mid-box-purchaseSummary purchaseSummary-main-box">
          <div class="leftzone-mid-box-purchaseSummary">
            <div class="contenedor">
              <div class="barra barra-azul"></div>
              <input checked type="checkbox" id="send-input" name="sendInput" />
            </div></div>
          <div class="centerzone-mid-box-purchaseSummary">Llega el martes a tu
            domicilio</div>
          <div class="rightzone-mid-box-purchaseSummary">GRATIS</div>
        </div>
        <strong>Retirar compra</strong>
        <div class="mid-box-purchaseSummary purchaseSummary-main-box">
          <div class="leftzone-mid-box-purchaseSummary">
            <div class="contenedor">
              <div class="barra" id="barra2"></div>
              <input type="checkbox" id="fetch-input" name="fetchInput" />
            </div>
          </div>
          <div class="centerzone-mid-box-purchaseSummary">Retiro en carreo y
            otros puntos</div>
          <div class="rightzone-mid-box-purchaseSummary">GRATIS</div>

        </div>
      </div>
      <div class="z2-left-mid1-purchaseSummary">
        <span>Domicilio</span>
        <div class="purchaseSummary-mid-box purchaseSummary-main-box">
          <div class="z1-log-mid-box-purchaseSummary">
            <div id="z1-log-mid-box">
              <i
                class="fa-solid fa-location-dot fa-xl"
                style="color: #1d56b9;"
              ></i>
            </div>
          </div>
          <div class="z2-data-mid-box-purchaseSummary">
            {{usercookie.address}}
            <br />
            C.P. 1425 - Palermo, Capital Federa
            <br />
            <input
              type="text"
              id="address"
              name="address"
              value="{{usercookie.address}}"
              hidden="true"
            />

            {{usercookie.fullname}}{{usercookie.username}}
            - 1187462974
          </div>
          <div class="z3-link-mid-box-purchaseSummary">
            <a
              href="https://www.youtube.com/watch?v=oG3GgR95ZRs&ab_channel=NicolasCastro"
            ><small>Editar o eligir otro</small></a>
          </div>
        </div>
      </div>
      <div class="z1-left-top-purchaseSummary">
        <h1>
          ¿Cómo querés recibir o retirar tu compra?
        </h1>
      </div>

    </div>
  </section>
</form>

<script src="/static/js/shopping.js"></script>