<section id="purchaseSummary">
  <div class="purchaseSummary-container">
    <div class="z5-right-purchaseSummary">
      <div class="z5-purchaseSummary-info-shopping">
        <h2>Resumen de compra</h2>
        <hr />
        <div class="z5-info-quiantity">
          <span>Productos (2)</span>
          <span>$ 6.94900</span>
        </div>
        <br />
        <hr />
        <div class="z5-info-totalPrice">
          <span>Total</span>
          <span>$ 6.94900</span>
        </div>
      </div>
    </div>
    <div class="z4-left-bottom-purchaseSummary">2</div>
    <div class="z3-left-mid2-purchaseSummary">
      <div class="purchaseSummary-main-box">box1</div>
      <div class="purchaseSummary-main-box">box2</div>
    </div>
    <div class="z2-left-mid1-purchaseSummary">
      <span>Domicilio</span>
      <div class="purchaseSummary-mid-box purchaseSummary-main-box">
        <div class="z1-log-mid-box-purchaseSummary">
          <div id="z1-log-mid-box">
            <i
              class="fa-solid fa-location-dot fa-xl"
              style="color: #1d56b9;"
            ></i>
          </div>
        </div>
        <div class="z2-data-mid-box-purchaseSummary">
          {{usercookie.address}}
          <br />
          C.P. 1425 - Palermo, Capital Federa
          <br />
          {{usercookie.fullname}}{{usercookie.username}}
          - 1187462974
        </div>
        <div class="z3-link-mid-box-purchaseSummary">
          <a
            href="https://www.youtube.com/watch?v=oG3GgR95ZRs&ab_channel=NicolasCastro"
          ><small>Editar o eligir otro</small></a>
        </div>
      </div>
    </div>
    <div class="z1-left-top-purchaseSummary">
      <h1>
        ¿Cómo querés recibir o retirar tu compra?
      </h1>
    </div>
  </div>
</section>