.modifyPassword-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modifyPassword-div {
  margin-top: 25px;
  margin-bottom: 25px;
}

.errorMessage {
  color: rgb(254, 76, 76);
}
