<html>
  <head>
    <title>{{subject}}</title>
  </head>
  <body>
    <h1>Hola {{username}}</h1>
    <p>Email: {{useremail}}</p>
    <p>Este es un email que te va a redireccionar a una pagina para restablecer
      la contraseña
      <br />
      Recuerda no utilizar la misma contraseña</p>
    <br />
    <a href="http://localhost:8080/session/modify-password">Recuperar tu
      contraseña</a>
  </body>
</html>