<form id="form-cookie">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" />
  <label for="">email</label>
  <input type="text" id="email" name="email" />
  <button type="submit">Enviar</button>
</form>

<script src="/static/js/cookies.js"></script>