<div class="cart-container">
  {{#each products}}
    <a href="/products/{{this._id}}" class="link-product-home">
      <div id="myDiv" class="cart">
        <img src={{{this.thumbnail}}} alt="#" />
        <div class="cart-info-area">
          <div class="cartPrice"> <p>${{this.price}}</p></div>
          <div class="cartTitle"> <p id="text">{{this.title}}</p></div>

        </div>
      </div>
    </a>
  {{/each}}
</div>

<script src="/static/js/home.js"></script>
<script src="/static/js/main.js"></script>