<div class="my-Nav-Container">
  <nav class="my-nav">
    <div class="Nav-Logo"></div>
    <div class="Nav-Search">
      <SearchForm />
    </div>
    <div class="Nav-Promo">
      <img
        class="Nav-Promo-img"
        src="https://http2.mlstatic.com/D_NQ_773701-MLA54334638216_032023-OO.webp"
        alt=""
      />
    </div>
    <div class="Nav-Location">
      <a href="#">
        <FontAwesomeIcon class="locationIcon" icon="{faLocationDot}" />
        Enviar a
        <br />
        Capital Federal
      </a>
    </div>
    <div class="Nav-Bar">
      <ul class="my-ul">
        <li>
          <a href="#">Categoria</a>
        </li>
        <li>
          <a href="#">Ofertas</a>
        </li>
        <li>
          <a href="#">Historial</a>
        </li>
        <li>
          <a href="#">Supermercado</a>
        </li>
        <li>
          <a href="#">Vender</a>
        </li>
        <li>
          <a href="#">Ayuda</a>
        </li>
      </ul>
    </div>
    <div class="Nav-Sesion">
      <ul class="my-ul">
        <li>
          <a href="#">Creá tu cuenta</a>
        </li>
        <li>
          <a href="/handleUser">Ingresá</a>
        </li>
        <li>
          <a href="#">Mis Compras</a>
        </li>
      </ul>
      <a href="#">
        <FontAwesomeIcon class="locationIcon" icon="{faCartShopping}" />
      </a>
    </div>
  </nav>
</div>

<div class="cart-container">

  {{#each products}}
    <div class="cart">
      <img src={{{this.thumbnail}}} alt="#" />
      <div class="cart-info-area">
        <p>${{this.price}}</p>
        <h1>{{this.title}}</h1></div>
    </div>
  {{/each}}

</div>