<div class="cart-container">
  {{#each products}}
    <a href="/products/{{this._id}}" class="link-product-home">
      <div id="myDiv" class="cart">
        <img src={{{this.thumbnail}}} alt="#" />
        <div class="cart-info-area">
          <p id="productPrice">${{this.price}}</p>
          <p id="productTitle">{{this.title}}</p>
        </div>
      </div>
    </a>
  {{/each}}
</div>
<button id="popupButton">Click me for a popup</button>

<script>
  document.getElementById("popupButton").addEventListener("click", function() {
  Swal.fire('Hello!', 'This is a SweetAlert popup.', 'success'); });
</script>
<script src="/static/js/home.js"></script>
<script src="/static/js/main.js"></script>