<html>
  <head>
    <title>Checkout Pro</title>
  </head>
  <body>
    <form action="/api/cart/mpmethod" method="post">
      <label for="">run</label>
      <input type="submit" />
    </form>
  </body>
</html>