html {
  background-color: rgba(255, 105, 105, 0.5);
}

#recover-password {
  width: 100%;
  height: 405px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#recover-password button {
  margin-top: 10px;
}
