.user-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.online-status-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.use-data-paginate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.online-status-box {
  width: 20px;
  height: 20px;

  border-radius: 4px;
  border: none;
}

.status-on {
  background-color: var(--on-status-color);
}
.status-pause {
  background-color: var(--pause-status-color);
}
.status-off {
  background-color: var(--off-status-color);
}

.user-box {
  background-color: var(--main-backgournd-color-grey);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #000000 !important;
  border-radius: 7px;
  padding: 10px;
}
.button-section {
  display: flex;
  justify-content: center;
}

.button-section button {
  margin: 0px 10px 0px 10px;
}
.btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ddd;
}

.btn:active {
  background-color: #ccc;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
