.userEditAdmin-section {
  background-color: aqua;
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userEditAdmin-main-box {
  background-color: red;
  height: 80%;
  width: 90%;
}

.userEditAdmin-features-box {
  display: flex;
  width: 100%;
  height: calc(100% - 36.7969px);
}

.userEditAdmin-form-box {
  background-color: rgb(223, 58, 229);
  width: 40%;
  padding: 10px 0px 0px 15px;
}

.userEditAdmin-form-box form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userEditAdmin-img-box {
  background-color: rgb(69, 58, 229);
  width: 60%;
}

.swal-on-color {
  color: rgb(60, 158, 33);
}
.swal-pause-color {
  color: rgb(158, 83, 33);
}
.swal-off-color {
  color: rgb(158, 33, 33);
}
