<section class="adminhome-section">
  <div class="adminhome-main-box">
    <h1>Hola {{usercookie.username}}</h1>
    <div class="adminhome-features-box">
      <div class="adminhome-features-box-user">
        <span>Usuarios:</span>
        <br />
        <a href="/session/admin/users?page=1">Modificar Usuarios</a>
        <a href="/session/admin/createNewUsers">Crear un nuevo usuario Admin</a>
      </div>
      <div class="adminhome-features-box-product">
        <span>Productos:</span>
        <br />
        <a href="#">Modificar Producto</a>
      </div>
    </div>
  </div>
</section>