<section class="modifyPassword-section">
  <div class="modifyPassword-div">
    <form method="post">
      {{#if message}}
        <p class="errorMessage">{{message}}</p>
      {{/if}}
      <p> Email: {{userEmail}}</p>
      <h2>Condiciones para una Contraseña Segura:</h2>
      <ul>
        <li>Debe tener al menos 8 caracteres de longitud.</li>
        <li>Debe incluir al menos una letra mayúscula (A-Z).</li>
        <li>Debe incluir al menos una letra minúscula (a-z).</li>
        <li>Debe contener al menos un número (0-9).</li>
        <li>Se recomienda evitar el uso de información personal, como nombres o
          fechas de nacimiento.</li>
        <li>Evitar secuencias predecibles como "123456" o "contraseña".</li>
      </ul>
      <label for="new-password">Contraseña:</label>
      <input type="text" name="newPassword" id="newPassword" />
      <br />
      <button>Cambiar</button>
    </form>
  </div>
</section>