<section id="recover-password">
  <form action="recover-password" method="post">
    <label for="email">Ingrese su correo electronico</label>
    <br />
    <input type="text" name="email" />
    <br />
    <button type="submit">Enviar</button>
  </form>

</section>

<script src="/static/js/recoverPassword.js"></script>