<div>
  {{! action="/views/register" method="post" }}
  <form id="creteUser-form" action="/session/register" method="post">
    <label for="firstname">Nombre:</label>
    <input type="text" id="firstname" name="firstname" />
    <label form="lastname">Apellido</label>
    <input type="text" id="lastname" name="lastname" />
    <label form="username">UserName</label>
    <input type="text" id="username" name="username" />
    <label for="email">Mail</label>
    <input type="text" id="email" name="email" />
    <label for="address">Direccion</label>
    <input type="text" id="address" name="address" />
    <label for="password">Contraseña</label>
    <input type="text" id="password" name="password" />
    <button type="submit">Crear</button>
  </form>

</div>

<script src="/static/js/user.js"></script>
<script src="/static/js/registerUser.js"></script>